img.sales{

	width:  200px !important;	
	height: 200px !important;
	margin: 20px !important;
	margin-top: 0px !important;
	margin-bottom: 50px !important;
	transition: all 1s !important;
}

img.sales:hover {
	transform: scale(1.1);

}

p.category {
	color: #22332b ;
	font-size: 2em;
	margin: 0px !important;
}

h3, h4 {

	color: white;
}